@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Varela+Round&display=swap');

:root {
    --primary-blue: #0A4BCD;
    --accent-red:#da1818;
    --accent-blue: #708FFB;

}
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;

}
body {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--primary-blue);
}

h1,
h2 {
    font-family: "Varela-Round", sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--primary-blue);
    font-size: 1.6rem;
    text-align: center;
}

/* General header style */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#logo-img {
    height: 12vh;
}

#logo-text {
    display: none;
}


/* hamburger menu specific to mobile devices (<577px), inspired by https://www.youtube.com/watch?v=xXze-haVm7ghttps://www.youtube.com/watch?v=xXze-haVm7g*/

#nav-menu {

    width: 4rem;
    height: 2.5rem;
    border-radius: 3px;
    margin: 0 1rem;
    position: relative;
}

/* Nav menu style*/

#nav-list {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 12vh;
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 100%;
    background: var(--primary-blue);
}

.nav-list-link {

    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    border-bottom: .2rem solid transparent;
    transition: opacity .3s ease, border-bottom .3s ease;
    display: block;
    text-align: center;
    min-width: 12.5rem;
    font-size: 5vw;
    width: 50vw;
    margin: 2vh 0;
}



/* hamburger menu design */
#nav-menu:before,
#nav-menu:after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 50%;
    background: #ffffff;
    transition: .4s ease, top .4s ease;
    transform: rotate(0deg) translateY(-50%);
}

#nav-menu::before {
    top: 30%;
}

#nav-menu::after {
    top: 70%;

}

/* hamburger menu in focus rotate effect  */
#nav-menu:focus::before {
    top: 50%;
    transform: rotate(30deg) translateY(-50%)
}

#nav-menu:focus::after {
    top: 50%;
    transform: rotate(-30deg) translateY(-50%)
}

#nav-menu:focus ul {
    display: flex;

}

/* Hero Image */
#hero-outer {
    width: 100%;
    overflow: hidden;
    max-height: 100vh;

}

#hero-image {
    width: 100%;
    margin-top: 12vh;

    

    /* zoom effect as seen in love running */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom */
@keyframes hero-zoom {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

/*Book now button at the bottom of each section style inspired by https://www.youtube.com/watch?v=6xNcXwC6ikQ*/

.book-now-button {
    font-size: 2rem;
    padding: .4rem 1rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--accent-red);
    color: #ffffff;
    border: var(--accent-red) .2rem solid;
    border-radius: .4rem;
    box-shadow: inset 0 0 .4rem var(--accent-red), 0 0 1.4rem var(--accent-red);

    Position: relative;
}

.book-now-button::before {
    content: "";
    position: absolute;
    background-color: var(--accent-red);
    top: 115%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(15rem) rotatex(55deg);
    filter: blur(.9rem);
    opacity: 0.7;

}

/* section title style  */

.section-title{
    padding: 5rem 0;
}

/* about us section */
#about-us  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#about-us-content {
    margin: 0rem 5rem;
    text-align: center;
    padding-bottom: 5rem;

}


.about-us-text{
    margin: 2rem 0rem;
}

/* img in about us section */

#about-img {
    height: 40rem;
    background-image: url("../images/about-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;

}

/*price section */

#price{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#price-content-and-image {
    width: 100%;
}

#price-container {
    text-align: center;
    padding-bottom: 5rem;
    margin:0 5rem;
}

/*price list */
#price-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 5rem;
    margin-bottom: 2rem;
}

.price-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0; 
}

.price-list-item-desc{
    text-align: left;
}
.cost {
    font-weight: bold;
}

/* book now button in price section */

/* #price-button {
    margin: 2.5rem;
} */

/* price section image */

#price-list-img {
    height: 40rem;
    background-image: url("../images/price-list-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
}

/* Gallery section */

#gallery {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

/* gallery content wrapper for all content in the gallery section*/

#gallery-wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5rem;

}

/* container for all tiles to set dispaly */
#gallery-container {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* style of tiles which include customer image and description */

.container-gallery-tile {
    display: flex;
    width: fit-content;
    margin: 2.5rem 0;
    border-radius: 1rem;
    background-color: var(--accent-blue);
    box-shadow: 0 0 1.2rem var(--accent-blue);
    height: 39.6rem; 
}

/* text line clamp inspired by https://css-tricks.com/almanac/properties/l/line-clamp/ */

.content {
    max-width: 16.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* image on gallery tile */

.tile-img {
    height: 15rem;
    width: 100%;
    border-radius: 1rem;
}

/* desc section - line clamp inspired by https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css*/

.description {
    color: #ffffff;
    margin-top: 1rem;
}

/* book now button gallery section */

#gallery-button {
    margin: 2rem;
}

/* direction of the store information */

#location-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 100%;

    background-image: url("../images/locations.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

/* store location information  */

.store-locations {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: rgba(48, 113, 247, .6);
    width: 33%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.address{
    height: 5.4rem;
    justify-content: center;
}
/* How to book section */

#booking {
    background: #ffffff;
    overflow: hidden;

}

#how-to-book-wrapper {
    margin: 2.5rem 5rem 2.5rem 5rem;
}

/* container for the steps */

#how-to-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Circles for each step as inspired by https://stackoverflow.com/questions/4840736/easier-way-to-create-circle-div-than-using-an-image */

.booking-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-blue);
    border: solid 4px var(--accent-blue);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 5rem;
    color: #ffffff;
    box-shadow: 0 0 1.2rem var(--accent-blue);
    /* text-shadow: .0 0 0.8rem #ffffff; */
    position: relative;
}

/* shadow in front of each circle */

.booking-instructions::before {
    content: "";
    position: absolute;
    background-color: var(--accent-blue);
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(46rem) rotatex(70deg);
    filter: blur(3rem);
    opacity: 0.7;
}

.instruction-title{
    color: #ffffff;
    margin-bottom: .5rem;
    text-align: center;
    letter-spacing: 0;
}

.instruction-details{
    text-align: center;
}
/* Booking-Form section */

#booking-form {
    background: #ffffff;
    overflow: hidden;
    padding-bottom: 5rem;
}

/* Booking section content container */

#booking-form-wrapper {
    margin: 0 2.5rem;
}


/* Contact form and Map Container */

#booking-form-and-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Booking form background */

#form-container {
    align-items: center;
    margin: 2.5rem;
    background-color: var(--accent-blue);
    width: fit-content;
    box-shadow: 0 0 1.6rem var(--accent-blue);
    border-radius: .5rem;

}

/* Booking form style */

#Form {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: white;
    display: block;
    margin: 1rem 0;
}

.form-field {
    padding: .5rem;
    width: 90%;
    border-radius: 1rem;
}

#store {
    width: 90%;
    cursor: pointer;
}

#enquiry {
    padding: 1rem 1rem;
    width: 88%;
}

#booking-form-button {
    margin: 2rem 0;
    width: 80%;
}

/* Map style */

#map {
    border: solid 1px black;
    padding: 0;
    margin: 2.5rem;
    max-width: 100%;

}

/* Footer section */

#footer {
    background: var(--primary-blue);
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#social-icons-list {
    text-align: center;
    margin: 2.5rem;
}

#social-icons-list > li{

    margin: 0 2rem;
    display: inline;
}

.social-icons-link {
    color: #ffffff;
    font-size: 140%;
}

@media only screen and (min-width:1200px) {
    #booking-form-and-map {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


@media only screen and (min-width:768px) {

    #nav-menu {
        width: fit-content;
        height: 100%;
        border-radius: 0;
        margin: 0;
        color: #ffffff;
    }
    
    #nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        width: auto;
        height: auto;
        top: 0;
    }

    .nav-list-link {
        font-size: 1rem;
        font-weight: bold;
        width: fit-content;
        margin: 0;
        min-width: fit-content;
        width: fit-content;
    }

    #nav-button {
        font-size: 1rem;
        margin-left: 1rem;
    }
   
    #nav-menu:before,
    #nav-menu:after {
        display: none;
    }

    .book-now-button::before {
        content: "";
        filter: blur(0);
        opacity: 0;
    }

    .book-now-button:hover {
        background: var(--accent-red);
        color: white;

        /* zoom effect as seen in love running */

        animation-name: button-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    @keyframes button-zoom {

        from {
            transform: scale(1);
        }

        to {
            transform: scale(1.3);
        }
    }

    .book-now-button:hover::before {
        content: "";
        position: absolute;
        background-color: var(--accent-red);
        top: 115%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: perspective(15rem) rotatex(55deg);
        filter: blur(.9rem);
        opacity: 0.7;
    }

    #about-us{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #about-us-container {
        padding: 0;
        margin: 0 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 120rem;
    }

    #about-us-content {
        width: 50%;
    }

    #about-img {
        width: 50%;
    }

    #price{
        margin: 0 5rem;
    }

    #price-content-and-image {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 120rem;
    }

    #price-container {
        width: 50%;
        margin: 0;
    }

    #price-list-img {
        width: 50%;
    }

    #gallery-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-gallery-tile {
        margin: 2.5rem;
    }

    #location-container {
        flex-direction: row;
        justify-items: center;
        flex-wrap: nowrap;
    }

    #how-to-book-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}


@media only screen and (min-width:576px) {

    header {
        justify-content: space-evenly;
    }

    #logo-text {
        display: block;
        color: #ffffff;
    }
}