@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Varela+Round&display=swap');

/* baseline style rules for all screen sizes */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Comfortaa, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #0A4BCD;
}

h1,
h2 {
    font-family: Varela-Round, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0A4BCD;
    font-size: 1.6rem;
    text-align: center;
}

/* General header style */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #0A4BCD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#logo img {
    height: 12vh;
}

header h1 {
    color: #ffffff;
}

/* hamburger menu specific to mobile devices (<577px), inspired by https://www.youtube.com/watch?v=xXze-haVm7ghttps://www.youtube.com/watch?v=xXze-haVm7g*/

nav {

    width: 4rem;
    height: 2.5rem;
    background: #333;
    border-radius: 3px;
    margin: 0 1rem;
}

nav:before,
nav:after {
    content: '';
    display: none;
    height: 2px;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 50%;
    background: #ffffff;
    transition: .2s ease, top .2s ease;
    transform: rotate(0deg) translateY(-50%)
}

nav::before {
    top: 30%;
}

nav::after {
    top: 70%;
}

nav:focus::before {
    top: 50%;
    transform: rotate(30deg) translateY(-50%)
}

nav:focus::after {
    top: 50%;
    transform: rotate(-30deg) translateY(-50%)
}

/* Nav menu style*/

nav ul {
    margin: 0;
    padding: 0;
    display: none;
    /*flex */
    flex-direction: column;
    list-style: none;
    width: 100vw;
    height: 100vh;
    right: -2.5rem;
    top: -1.5rem;
    align-items: center;
    justify-content: center;
    background: #0A4BCD;

}

ul li {
    margin: 2vh 0;

}

ul a {
    color: #ffffff;
    font-size: 5vw;
    width: 50vw;
}

/* inspiration for the button design https://www.youtube.com/watch?v=OjQP7rPwJyE */

#Book_Button {
    border-radius: .5rem;
    padding: .5rem .8rem;
    border: 1px solid #A51212;
    height: 5vh;
}

#Book_Button button {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
}


/* header style for tablets and large mobiles (>576px) */

@media only screen and (min-width: 576px) {

    nav ul {
        display: none;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

/* Hero Image */
#hero-outer {
    height: 45rem;
    width: 100%;
    overflow: hidden;
    
}

#hero-image {
    height: 45rem;
    width: 100%;
    background: url(../images/Hero\ Image.webp) no-repeat center center;

    /* zoom effect as seen in love running */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of zoom */
@keyframes hero-zoom {

    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

/*Book now button at the bottom of each section style inspired by https://www.youtube.com/watch?v=6xNcXwC6ikQ*/
 
.book-now-button{
    font-size: 2rem;
    padding: .4rem 1rem;
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: #da1818;
    color: #ffffff;
    border:#da1818 .2rem solid;
    border-radius: .4rem;
    text-shadow: 0 ;
    box-shadow:  inset 0 0 .4rem #da1818, 0 0 1.4rem #da1818;

    Position:relative;
}
.book-now-button::before{
    content: "";
    position: absolute;
    background-color: #da1818;
    top: 115%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(15rem) rotatex(55deg);
    filter: blur(.9rem);
    opacity: 0.7;
    
}
/* Button hover effect only for screens >768px because the effect will stick on touch screen devicies such as tablets and mobile */

@media only screen and (min-width:768px) {
    .book-now-button{
        background-color: #ffffff;
        color: #da1818;
        text-shadow: 0 0 .8rem #da1818;
    }
    .book-now-button::before{
        content: "";
        filter: blur(0);
        opacity: 0;}

    .book-now-button:hover{
        background: #da1818;
        text-shadow: 0;
        color: white;
    
    /* zoom effect as seen in love running */
    
        animation-name: button-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }
    @keyframes button-zoom {

        from {
            transform:scale(1) ;
        }
    
        to {
            transform:scale(1.3);
        }
}
.book-now-button:hover::before{
    content: "";
    position: absolute;
    background-color: #da1818;
    top: 115%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(15rem) rotatex(55deg);
    filter: blur(.9rem);
    opacity: 0.7;
    }
}

/* about us section */
.About-Container H1 {
    margin:2rem;
}
#about-text{
     margin: 4rem 4rem ;
     text-align: center;
}

#about-text > p{
    margin: 2rem 0rem;
}

#about-img-outer{
    height: 40rem;
    background-color: lightgrey;
    border: 1px solid black;
    margin: 1rem;
}
/* about us section above 768px (larger then mobile and tablet) screen size*/ 

@media only screen and (min-width:768px) {
.About-Container{
    padding:0;
    margin: 0 auto;
    display:flex;
    align-items: center;
}
#about-text { 
    width: 50%;
}
#about-img-outer{
    width: 50%;
}
}
/* Price section */

#Price {
    background: lightblue;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    
}

/* Gallery section */

#Gallery {
    background: lightcoral;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    
}

/* Gallery section */

#Locations {
    background: lightgreen;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    
}

/* Booking section */

#Booking {
    background: lightsalmon;
    height: 20rem;
    width: 100%;
    overflow: hidden;
    
}

/* Booking-Form section */

#Booking-Form{
    background: #ffffff;
    overflow: hidden;
}

/* Booking section content container */

#Booking-Form-Wrapper {
    margin: 5rem 5rem 2.5rem 5rem;
}

/* Booking header */

#Booking-Form-Wrapper > h1 {
    justify-content: center;
    margin: 2.5rem 0;
}

/* Contact form and Map Container */

#Booking-Form-Wrapper > Div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (min-width:768px) {
    #Booking-Form-Wrapper > Div{ display: flex;
    flex-direction: row;
    justify-content: center;
}
}
/* Booking form background */

#form-container{
    align-items: center;
    margin:2.5rem;
    background-color: #708FFB;
    width:fit-content;
    box-shadow:0 0 1.6rem #708FFB;
    border-radius: .5rem;
}

/* Booking form style */

#Form{
    padding:2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: white;
    display:block;
    margin: 1rem 0;
}

.form-field{
    padding:.5rem;
    width: 90%;
    border-radius: 1rem;
}

#store{
    width:90%;
}

#enquiry{
    padding: 1rem 1rem;
    width:88%;
}

#Form > .book-now-button{
    margin: 2rem 0;
    width: 80%;
}


@media only screen and (min-width:768px) {


}
/* Map style */

#map { 
    border: solid 1px black;
    padding: 0;
    margin: 2.5rem;
    max-width: 100%;

}

/* Footer section */

#Footer{
    color: #ffffff;
    background: #0A4BCD;
    width: 100%;
    height: 5rem;
    overflow: hidden;

}